@keyframes fadeIn { 
    from { 
        opacity:0; 
        opacity: 1\9; /* IE9 only */ 
    } to { 
        opacity:1; 
    } 
}

@keyframes slideIn { 
    from { 
            opacity:0; opacity: 1\9; /* IE9 only */ 
            top: -100%;
    } 
    to { 
        opacity:1; 
        top: 0%;
    } 
}

@keyframes slideOut { 
    from { 
        opacity: 1; opacity: 1\9; /* IE9 only */ 
        top: 0%;
    } 
    to { 
        opacity: 0;
        top: -100%;
    } 
}