@import url('https://fonts.googleapis.com/css?family=Lato:100,300,500');


@import 'helpers/reset';
@import 'helpers/util';
@import 'helpers/animations';
@import 'helpers/variables';
@import 'helpers/mixins';

@import 'base/layout';

@import 'components/error';
@import 'components/movie';
@import 'components/search';


body,
html {
    font-size: 16px;
    font-family: 'Lato', san-serif;
    font-weight: 300;
}
