@import url('https://fonts.googleapis.com/css?family=Lato:100,300,500');


@import 'helpers/reset';
@import 'helpers/animations';
@import 'helpers/variables';
@import 'helpers/mixins';

@import 'base/layout';

@import 'components/error';
@import 'components/movie';
@import 'components/search';



body,
html {
    font-size: 16px;
    font-family: 'Lato', san-serif;
    font-weight: 300;
}

.bg {
    width: 100%;
    min-height: 100vh;
    background: url(../img/burst_alt.svg) no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    animation: .5s ease-out 0s 1 fadeIn;
}

.hidden {
    display: none;
}